.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    color: $white;
    font-family: inherif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    
    margin-left: 1rem;
    margin-right: 1rem;

    cursor: pointer;

    transition: background-color .2s linear;

    &--red {
        background-color: #ED3024;
        box-shadow: 0 7px 17px -10px rgba(#ED3024, .3);
        &:hover {
            background-color: darken(#ED3024, 5%);
        }
    }
    &--blue {
        background-color: #3137C9;
        box-shadow: 0 7px 17px -10px rgba(#3137C9, .3);
        &:hover {
            background-color: darken(#3137C9, 5%);
        }
    }
}