.title-page {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 21px;
    color: $white;

    margin-bottom: 3rem;
}

.image-page {
    margin-bottom: 3rem;
}

.information-page {
    font-size: 1.4rem;
    line-height: 21px;
}