<header class="header">
  <div class="header__left">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="index.html">главная</a>
        </li>
        <li class="nav__item">
          <a class="nav__link has-subnav" href="#">статьи</a>
          <ul class="subnav">
            <li><a class="subnav__link" href="">Создание сайтов</a></li>
            <li><a class="subnav__link" href="">Интернет-маркетинг</a></li>
            <li><a class="subnav__link" href="">Продвижение видео</a></li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="about-me.html">обо мне</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="market.html">реклама</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header__right">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="profile.html">профиль</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#">выйти</a></li>
      </ul>
    </nav>
    <form action="" class="search">
      <input type="text" class="search__input" placeholder="Поиск по блогу" />
    </form>
  </div>
</header>
