<aside class="sidebar">
  <div class="sidebar__header">
    <img src="../assets/images/sidebar__header--bg.jpg" alt="" />
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img
        class="profile__avatar"
        src="https://i.pinimg.com/736x/b6/14/61/b61461f70e6dec7ea7fa484b6a80f91c.jpg"
        alt=""
      />
      <div class="profile__name">Name</div>
      <div class="profile__prof">Front-End Developer</div>
      <ul class="social">
        <li class="social__item">
          <a href="" class="social__link" target="_blank"
            ><img src="assets/images/inst.svg" alt=""
          /></a>
        </li>
        <li class="social__item">
          <a href="" class="social__link" target="_blank"
            ><img src="assets/images/vk.svg" alt=""
          /></a>
        </li>
        <li class="social__item">
          <a href="" class="social__link" target="_blank"
            ><img src="assets/images/pint.svg" alt=""
          /></a>
        </li>
      </ul>
      <div class="profile__text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A nemo, ea
          deleniti hic eius incidunt? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Aspernatur quia impedit asperiores iusto sapiente
          deleniti cumque quasi tenetur laboriosam corrupti?
        </p>
      </div>
    </div>
  </div>
  <div class="sidebar__footer">
    <a href="https://andreymaslov.ru/project/" class="btn btn--red"
      >Мои работы</a
    >
    <button type="button" class="btn btn--blue">Написать мне</button>
  </div>
</aside>
